
@media only screen and (min-width: 228px) and (max-width: 750px){

.container {
    margin-top: 0px;
    border-radius: 0px;
}
li {
    font-size: 1.2rem;
}
#pokemon-image {
    width: 80%;
    margin-top : 20px;
}

}